<h2 class="page-header">Clothes Shop</h2>
<p>Welcome to an online clothes shop website</p>
<p>Suppose to display all items. Query: SELECT * FROM collections; database in heroku postgres</p>

<div class="page-header">
  <h1>All Items</h1>
</div>

<img src="../css/images/womensjacket.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>WOMENS</h4>
<p>Black pleather jacket with silver zip detail</p>
<strong class="price">$69.99</strong> </div>
<img src="../css/images/womensdress2.jpg" class="img-thumbnail" alt="">
<h4>WOMENS</h4>
<p>Red floral dress with frills</p>
<strong class="price">$89.99</strong> </div>
<img src="../css/images/womensjeans.jpg" class="img-thumbnail" alt="">
<h4>WOMENS</h4>
<p>Blue distressed boyfriend jeans</p>
<strong class="price">$69.99</strong> </div>
<img src="../css/images/mensjacket2.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>MENS</h4>
<p>Blue bomber jacket with silver zip detail</p>
<strong class="price">$58.99</strong> </div>
<img src="../css/images/mensjeans2.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>MENS</h4>
<p>Blck jeans with rips in the knees</p>
<strong class="price">$99.99</strong> </div>
<img src="../css/images/mensshirt3.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>MENS</h4>
<p>White button up shirt</p>
<strong class="price">$45.99</strong> </div>
<img src="../css/images/girlsdress.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>Girls</h4>
<p>Zara Pinafore with frills</p>
<strong class="price">$15.99</strong> </div>
<img src="../css/images/boyspants.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>Boys</h4>
<p>Distressed blue jeans</p>
<strong class="price">$15.99</strong> </div>
<img src="../css/images/girlsjacket.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>Girls</h4>
<p>Pleather material black jacket</p>
<strong class="price">$58.99</strong> </div>
