<div class="page-header">
  <h1>womens</h1>
</div>

<img src="../css/images/womensjacket.jpg" class="img-thumbnail" alt="">
<div class="product-desc">
<h4>WOMENS</h4>
<p>Black pleather jacket with silver zip detail</p>
<strong class="price">$69.99</strong> </div>
<img src="../css/images/womensdress2.jpg" class="img-thumbnail" alt="">
<h4>WOMENS</h4>
<p>Red floral dress with frills</p>
<strong class="price">$89.99</strong> </div>
<img src="../css/images/womensjeans.jpg" class="img-thumbnail" alt="">
<h4>WOMENS</h4>
<p>Blue distressed boyfriend jeans</p>
<strong class="price">$69.99</strong> </div>
